<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste1</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link type="text/css" href="../css/cssLoader.css" rel="stylesheet"/>
</head>
<body>
<p id="test1"></p>
<pre id="error">


<script type="text/javascript">

    // language=JQuery-CSS
    $('#test1').on("load", ajaxLoad('test1'));

    function ajaxLoad(id) {
        

        var xhttp = new XMLHttpRequest();//Objeto Ajax
        xhttp.onreadystatechange = function(){//toda vez que mudar estado chama a funcao
        	if(xhttp.readyState === 3){
        		//colocando uma mensagem de load para o usuario
        		$('#'+id).append('<div class="loader"></div>');
        	}
            if(xhttp.readyState === 4){//estado 4 é quando recebe a resposta
                //o objeto retornado e uma String json com as colunas da tabela
                try{
                	var arrayJson = JSON.parse(this.responseText);
	                var string = "";
	                for(var i=0;i< arrayJson.length;i++){
	                    string += arrayJson[i]["id"] + "\n<br>";
	                    string += arrayJson[i]["primeiro_nome"] + "\n<br>";
	                    string += arrayJson[i]["sobrenome"] + "\n<br>";
	                }
	                document.getElementById(id).innerHTML = string;

                }catch(err){
					document.getElementById(id).innerHTML = 'Ops!';
					document.getElementById('error').innerHTML = this.responseText;
                }
                
                $('.loader').remove();
            }
        };
        xhttp.open("GET",'../control/testeJson.php');
        xhttp.send();
    }


</script>
</body>
</html>