<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste1</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link type="text/css" href="../css/cssLoader.css" rel="stylesheet"/>
</head>
<body>
<p id="test1"></p>


<script type="text/javascript">

    // language=JQuery-CSS
    $('#test1').on("load", ajaxLoad('test1'));

    function ajaxLoad(id) {
        //colocando uma mensagem de load para o usuario
        $('#'+id).append('<div class="loader"></div>');

        var xhttp = new XMLHttpRequest();//Objeto Ajax
        xhttp.onreadystatechange = function(){//toda vez que mudar estado chama a funcao
            if(xhttp.readyState === 4){//estado 4 é quando recebe a resposta
                //o objeto retornado e uma String json com as colunas da tabela
                var arrayJson = JSON.parse(this.responseText);
                var string = "";
                for(var i=0;i< arrayJson.length;i++){
                    string += arrayJson[i]["pergunta"] + "\n<br>";
                }
                document.getElementById(id).innerHTML = string;
                $('.loader').remove();
            }
        };
        xhttp.open("GET",'../control/testeJson.php');
        xhttp.send();
    }


</script>
</body>
</html>